<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-label class="name">{{ name }}</ion-label>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
