<ion-header>
  <ion-navbar>
    <ion-title>
      {{ car.marque }} {{ car.model }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img *ngIf="car.image" src="{{ url }}{{ car.image }}">
    <img *ngIf="!car.image" src="{{ img }}">
    <div class="card-title">{{ car.marque }} {{ car.model }}</div>
    <div class="card-subtitle">
      Prix {{ car.prix }} DH
      <ion-badge color="info">{{ car.locations.length }}</ion-badge>
    </div>
  </ion-card>
  <hr>
  <h3 padding="">Info.</h3>

  <ion-grid *ngIf="car.detail" padding="">
    <ion-row>
      <ion-col col-6>Type de carburant</ion-col>
      <ion-col col-6><b>{{ car.detail.carburant }}</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Portes: <b>{{ car.detail.porte }}</b></ion-col>
      <ion-col col-6>Passager: <b>{{ car.detail.passager}}</b> {{ (car.detail.porte == 1) ? 'presonne' : 'personnes'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Capacite</ion-col>
      <ion-col col-6><b>{{ car.detail.capacite }} kg</b></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!car.detail" padding="">
    <ion-row>
      <ion-col col-12>Pas de information detaile pour cette voiture.</ion-col>
    </ion-row>

  </ion-grid>
  <hr>
  <h3 padding="">Locations</h3>
  <ion-grid *ngIf="car.locations" padding="">
    <ion-row *ngFor="let l of car.locations" (tap)="goToLocation(l.id)">
      <ion-col col-4>N° {{ l.id }}</ion-col>
      <ion-col col-4>Par {{ l.client.firstname }} {{ l.client.lastname.substr(0,1) }}.</ion-col>
      <ion-col col-4>Pour {{ l.duree }} {{ (l.duree == 1) ? 'jour' : 'jours' }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

