<ion-header>
  <ion-navbar>
    <ion-title>
      {{ black.user.firstname }} {{ black.user.firstname }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="{{ img }}">
    <div class="profile">
      <img *ngIf="black.user.image" src="{{ url }}{{ black.user.image}}" alt="">
    </div>
    <div class="card-title">{{ black.user.firstname }} {{ black.user.firstname }}</div>
    <div class="card-subtitle">
      {{ black.motif }} - {{ black.level }}
      <ion-badge item-left="" *ngIf="black.fixed" color="success">résolu</ion-badge>
    </div>
  </ion-card>
  <ion-grid padding="">

    <ion-row>
      <ion-col col-4><b>{{ black.user.firstname }}</b></ion-col>
      <ion-col col-4><b>{{ black.user.lastname }}</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Adresse</ion-col>
      <ion-col col-6><b>{{ black.user.adresse}}</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Tel</ion-col>
      <ion-col col-6><b>{{ black.user.tel }}</b></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>Email</ion-col>
      <ion-col col-6><b>{{ black.user.email }}</b></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>N permis <b>{{ black.user.permis }}</b></ion-col>
      <ion-col col-6>CIN <b>{{ black.user.cin }}</b></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
