page-black {
  ion-card {
    position: relative;
    text-align: center;
    img{
      height: 250px;
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 55%;
    width: 100%;
    color: #fff;
  }
}

