<ion-header>
  <ion-navbar>
    <ion-title>
      Gestion des Locationes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let rent of rents" (tap)="goToRent(rent.id)">
      <ion-thumbnail item-start>
        <img *ngIf="rent.car.image" src="{{ url }}/{{ rent.car.image }}">
        <img *ngIf="!rent.car.image" src="assets/images/key-web.png">
      </ion-thumbnail>
      <h2>{{ rent.car.marque }} loyer par {{ rent.client.firstname }} {{ rent.client.lastname.substr(0,1) }}.</h2>
    </ion-item>
  </ion-list>
</ion-content>
