<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col col-9>{{ profile.firstname }} {{ profile.lastname }}</ion-col>
          <ion-col col-3><ion-icon name="log-out" item-end="" (tap)="logout()"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>



    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="{{ img }}">
    <div class="profile">
      <img *ngIf="profile.image" src="{{ url }}{{ profile.image}}" alt="">
    </div>
    <div class="card-title">{{ profile.firstname }} {{ profile.firstname }}</div>
    <div class="card-subtitle">
      {{ profile.email }} - {{ profile.tel }}
      <ion-badge *ngIf="profile.black" color="danger">liste-noire</ion-badge>
      <ion-badge item-left="" *ngIf="profile.role == 'admin'" color="success">admin</ion-badge>
      <ion-badge item-left="" *ngIf="profile.role == 'primary'" color="success">personnel</ion-badge>
    </div>
  </ion-card>
  <ion-grid padding="">
    <ion-row>
      <ion-col col-6>Adresse</ion-col>
      <ion-col col-6><b>{{ profile.adresse}}</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Tel</ion-col>
      <ion-col col-6><b>{{ profile.tel }}</b></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>Email</ion-col>
      <ion-col col-6><b>{{ profile.email }}</b></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>N permis <b>{{ profile.permis }}</b></ion-col>
      <ion-col col-6>CIN <b>{{ profile.cin }}</b></ion-col>
    </ion-row>

  </ion-grid>
  <hr>
  <h3 padding="">Locations <ion-badge color="success">{{ profile.location.length }}</ion-badge></h3>
  <ion-list *ngIf="profile.location.length > 0" padding="">
    <ion-item *ngFor="let l of profile.location" (tap)="goToCar(l.car.id)">
      <ion-avatar item-start>
        <img *ngIf="l.car.image" src="{{ url }}{{ l.car.image }}">
        <img *ngIf="!l.car.image" src="assets/images/car-web.png">
      </ion-avatar>
      <h2>{{ l.car.marque }}</h2>
      <p>{{ l.car.model }}</p>
    </ion-item>
  </ion-list>

</ion-content>
