<ion-header>
  <ion-navbar>
    <ion-title>Carrent</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (tap)="goToPage('UsersPage')">
      <ion-icon name="people" item-start></ion-icon>
      Gestion des utilisateurs
    </ion-item>

    <ion-item (tap)="goToPage('CarsPage')">
      <ion-icon name="car" item-start></ion-icon>
      Gestion des voitures
    </ion-item>
    <ion-item (tap)="goToPage('RentsPage')">
      <ion-icon name="calendar" item-start></ion-icon>
      Gestion des locations
    </ion-item>
    <ion-item (tap)="goToPage('BlacksPage')">
      <ion-icon name="list-box" item-start></ion-icon>
      Gestion de black liste
    </ion-item>
  </ion-list>
</ion-content>
