<ion-header>
  <ion-navbar>
    <ion-title>
      {{ rent.client.firstname }} {{ rent.client.firstname }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-card>
    <img *ngIf="rent.car.image" src="{{ url }}{{ rent.car.image }}">
    <img *ngIf="!rent.car.image" src="{{ img }}">
    <div class="card-title">{{ rent.car.marque }} {{ rent.car.model }}</div>
    <div class="card-subtitle">
      Prix {{ rent.total }} DH
      <ion-badge *ngIf="rent.car.remise" color="info">-{{ rent.car.remise }} %</ion-badge>
    </div>
  </ion-card>
  <hr>
  <h3 padding="">Voiture.</h3>
  <ion-grid padding="">
    <ion-row>
      <ion-col col-4>{{ rent.car.marque}}</ion-col>
      <ion-col col-4>{{ rent.car.model }}</ion-col>
      <ion-col col-4>{{ rent.car.matricule }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12><button ion-button="" color="info" (tap)="goToCar(rent.car.id)" outline>Voir les details</button></ion-col>
    </ion-row>

  </ion-grid>

  <hr>
  <h3 padding="">Louer</h3>
  <ion-grid padding="">
    <ion-row>
      <ion-col col-4>{{ rent.client.firstname}}</ion-col>
      <ion-col col-4>{{ rent.client.lastname }}</ion-col>
      <ion-col col-4>{{ rent.client.cin }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>N permis</ion-col>
      <ion-col col-6>{{ rent.client.permis }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12><button ion-button="" color="info" (tap)="goToUser(rent.client.id)" outline>Voir le profil</button></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>


