<ion-header>
  <ion-navbar>
    <ion-title>
      {{ user.firstname }} {{ user.lastname }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="{{ img }}">
    <div class="profile">
      <img *ngIf="user.image" src="{{ url }}{{ user.image}}" alt="">
    </div>
    <div class="card-title">{{ user.firstname }} {{ user.firstname }}</div>
    <div class="card-subtitle">
      {{ user.email }} - {{ user.tel }}
      <ion-badge *ngIf="user.black" color="danger">liste-noire</ion-badge>
      <ion-badge item-left="" *ngIf="user.role == 'admin'" color="success">admin</ion-badge>
      <ion-badge item-left="" *ngIf="user.role == 'primary'" color="success">personnel</ion-badge>
    </div>
  </ion-card>
  <ion-grid padding="">
    <ion-row>
      <ion-col col-6>Adresse</ion-col>
      <ion-col col-6><b>{{ user.adresse}}</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Tel</ion-col>
      <ion-col col-6><b>{{ user.tel }}</b></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>Email</ion-col>
      <ion-col col-6><b>{{ user.email }}</b></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>N permis <b>{{ user.permis }}</b></ion-col>
      <ion-col col-6>CIN <b>{{ user.cin }}</b></ion-col>
    </ion-row>

  </ion-grid>
  <hr>
  <h3 padding="">Locations <ion-badge color="success">{{ user.location.length }}</ion-badge></h3>
  <ion-list *ngIf="user.location.length > 0" padding="">
    <ion-item *ngFor="let l of user.location" (tap)="goToCar(l.car.id)">
      <ion-avatar item-start>
        <img *ngIf="l.car.image" src="{{ url }}{{ l.car.image }}">
        <img *ngIf="!l.car.image" src="assets/images/car-web.png">
      </ion-avatar>
      <h2>{{ l.car.marque }}</h2>
      <p>{{ l.car.model }}</p>
    </ion-item>
  </ion-list>

</ion-content>
