page-user {
  ion-card {
    position: relative;
    text-align: center;
    img{
      height: 250px;
    }

    .profile{
      width: 100%;
      top: 10%;
      z-index: 9;
      position: absolute;
      img{
        border-radius: 50%;
        border: 2px solid gray;
        box-shadow: 0 0 1px gray;
        width: 64px;
        height: 64px;
        margin-left: 10%;
      }
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 55%;
    width: 100%;
    color: #fff;
  }

}
