<ion-header>
  <ion-navbar>
    <ion-title>
      Gestion de liste-noire
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let black of blacks" (tap)="goToBlack(black.id)">
      <ion-thumbnail item-start>
        <img *ngIf="black.user.image" src="{{ url }}/{{ black.user.image }}">
        <img *ngIf="!black.user.image" src="assets/images/blacklist-web.png">
      </ion-thumbnail>
      <h2>{{ black.user.firstname }} {{ black.user.firstname }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
