<ion-header>
  <ion-navbar>
    <ion-title>
      Gestion des voitures
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let car of cars" (tap)="goToCar(car.id)">
      <ion-thumbnail item-start>
        <img *ngIf="car.image" src="{{ url }}/{{ car.image }}">
        <img *ngIf="!car.image" src="assets/images/car-web.png">
      </ion-thumbnail>
      <h2>{{ car.marque }} {{ car.model }}</h2>
      <ion-badge color="info" item-end="">{{ car.locations.length }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
