<ion-header>
  <ion-navbar>
    <ion-title>
      Gestion des utilisateurs
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users" (tap)="goToUser(user.id)">
      <ion-thumbnail item-start>
        <img *ngIf="user.image" src="{{ url }}/{{ user.image }}">

        <img *ngIf="!user.image" src="assets/images/default-web.png">
      </ion-thumbnail>
      <h2>{{ user.firstname }} {{ user.firstname }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
